.listContanier {
  display: flex;
  justify-content: center;
  margin-top: 20px;

  .listWrapper {
    width: 100%;
    max-width: 1024px;
    display: flex;
    gap: 20px;

    .listSearch {
      flex: 1;
      background-color: goldenrod;
      padding: 10px;
      border-radius: 10px;
      position: sticky;
      top: 10px;
      height: max-content;

      h1 {
        font-size: 20px;
        color: gray;
        margin-bottom: 10px;
      }

      .lsItem {
        display: flex;
        flex-direction: column;
        gap: 5px;
        margin-bottom: 10px;

        label {
          font-size: 12px;
        }

        span {
          height: 30px;
          padding: 5px;
          background-color: white;
          display: flex;
          align-items: center;
          cursor: pointer;
        }

        input {
          height: 30px;
          border: none;
          outline: none;
          padding: 5px;
        }

        .lsOptions {
          padding: 10px;
          .lsOptionItem {
            display: flex;
            justify-content: space-between;
            margin-bottom: 10px;
            // color: #555;
            font-size: 12px;
            span {
              background-color: goldenrod;
              padding: 0;
            }

            input {
              height: 20px;
              width: 50px;
              padding: 3px;
            }
          }
        }
      }

      button {
        padding: 10px;
        background-color: #0c8f0c;
        color: white;
        border: none;
        border-radius: 5px;
        width: 100%;
        font-weight: 500;
        cursor: pointer;
      }
    }

    .listResult {
      flex: 3;
    }
  }
}
