.navbar {
  height: 50px;
  background-color: #03ac03;
  display: flex;
  justify-content: center;

  .navContanier {
    width: 100%;
    max-width: 1024px;
    color: wheat;
    display: flex;
    align-items: center;
    justify-content: space-between;

    span {
      font-weight: 500;
    }

    span {
      font-size: 20px;
    }

    .navItems {
      button {
        margin-left: 20px;
        border: none;
        padding: 5px 10px;
        cursor: pointer;
        border-radius: 5px;
        color: #03ac03;
      }
    }
  }
}
